<h1>1) Simple DataGrid</h1>
<%= jqgrid("Football Players", "players", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo" },
		{ :field => "firstname", :label => "Firstname" },
		{ :field => "lastname", :label => "Lastname" },
		{ :field => "email", :label => "Email" },
		{ :field => "role", :label => "Role" }
	]
) %>
<br/>
<hr/>
<br/>
<h1>2) Simple DataGrid with selection link/button + search disabled</h1>
<script type="text/javascript">
	
	function handleSelection(id) {
		alert('ID selected : ' + id);
	}
	
</script>
<%= jqgrid("Football Players", "players_2", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo" },
		{ :field => "firstname", :label => "Firstname" },
		{ :field => "lastname", :label => "Lastname" },
		{ :field => "email", :label => "Email" },
		{ :field => "role", :label => "Role" }
	],
	{ :selection_handler => "handleSelection", :height => 300, :search => false }
) %>
<!-- The ID of this button is important, it must be jqgrid ID (players_2) + _select_button -->
<a href="#" id="players_2_select_button">Get ID of selected row</a>
<br/>
<hr/>
<br/>
<h1>3) Simple DataGrid with direct selection + autowidth</h1>
<%= jqgrid("Football Players", "players_3", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo" },
		{ :field => "firstname", :label => "Firstname" },
		{ :field => "lastname", :label => "Lastname" },
		{ :field => "email", :label => "Email" },
		{ :field => "role", :label => "Role" }
	],
	{ :selection_handler => "handleSelection", :direct_selection => true, :autowidth => true }
) %>
<br/>
<hr/>
<br/>
<h1>4) Simple DataGrid with multiple selections + row numbers</h1>
<%= jqgrid("Football Players", "players_4", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo" },
		{ :field => "firstname", :label => "Firstname" },
		{ :field => "lastname", :label => "Lastname" },
		{ :field => "email", :label => "Email" },
		{ :field => "role", :label => "Role" }
	],
	{ :selection_handler => "handleSelection", :multi_selection => true, :rownumbers => true }
) %>
<!-- The ID of this button is important, it must be jqgrid ID (players_4) + _select_button -->
<a href="#" id="players_4_select_button">Get IDs of selected rows</a>
<br/>
<hr/>
<br/>
<h1>5) Simple DataGrid with master details</h1>
<%= jqgrid("Football Players", "players_5", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo" },
		{ :field => "firstname", :label => "Firstname" },
		{ :field => "lastname", :label => "Lastname" },
		{ :field => "email", :label => "Email" },
		{ :field => "role", :label => "Role" }
	],
	{ :master_details => true, :details_url => "/users/pets", :details_caption => "Pets" }
) %>
<br/>
<!-- The ID of the details grid is important, it must master ID (players_5) + _details -->
<%= jqgrid("Pets", "players_5_details", "/users/pets",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "name", :label => "Name", :width => 500, :align => 'center' }
	]
) %>
<br/>
<hr/>
<br/>
<h1>6) Data manipulation with inline editing</h1>
<%= jqgrid("Football Players", "players_6", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo", :editable => true },
		{ :field => "firstname", :label => "Firstname", :editable => true },
		{ :field => "lastname", :label => "Lastname", :editable => true },
		{ :field => "email", :label => "Email", :editable => true },
		{ :field => "role", :label => "Role", :editable => true }
	],
	{ :add => true, :edit => true, :inline_edit => true, :delete => true, :edit_url => "/users/post_data" }
) %>
<br/>
<hr/>
<br/>
<script type="text/javascript">
	
	function afterSubmit(r, data, action) {
	  if(r.responseText != "") { // If an error message is returned
	    $('#submit_errors').html('<h1>Error</h1><p>'+r.responseText+'</p>');
	    $('#submit_errors').slideDown(); // Show div with error message
	  
  	  window.setTimeout(function() { // Hide error div after 6 seconds
       $('#submit_errors').slideUp();
      }, 6000);
      return false; // Don't remove this!
    }
    return true; // Don't remove this!
	}
	
</script>
<div id="submit_errors" style="background-color: #ffcdd1; border: 2px solid #e10c0c; display:none"></div>
<h1>7) Data manipulation with modal editing (+ navigation and server side errors handling if pseudo is empty)</h1>
<%= jqgrid("Football Players", "players_7", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo", :editable => true },
		{ :field => "firstname", :label => "Firstname", :editable => true },
		{ :field => "lastname", :label => "Lastname", :editable => true },
		{ :field => "email", :label => "Email", :editable => true },
		{ :field => "role", :label => "Role", :editable => true }
	],
	{ :add => true, :edit => true, :inline_edit => false, :delete => true, :edit_url => "/users/post_data", :error_handler => "afterSubmit" }
) %>
<br/>
<hr/>
<br/>
<h1>8) Data manipulation with various input types</h1>
<%= jqgrid("Football Players", "players_8", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo", :editable => true },
		{ :field => "firstname", :label => "Firstname", :editable => true, :edittype => "checkbox",
		  :editoptions => { :value => "Yes:No" } },
		{ :field => "lastname", :label => "Lastname", :editable => true },
		{ :field => "email", :label => "Email", :editable => true, :edittype => "textarea", :editoptions => { :rows => 3, :cols => 30 } },
		{ :field => "role", :label => "Role", :editable => true, :edittype => "select",
		  :editoptions => { :value => [["admin","admin"], ["player", "player"], ["defender","defender"]] } }
	],
	{ :add => true, :edit => true, :inline_edit => true, :delete => true, :edit_url => "/users/post_data" }
) %>
<br/>
<hr/>
<br/>
<script type="text/javascript">
function pickDates(id) {
	jQuery("#"+id+"_lastname","#players_with_datepicker").datepicker({dateFormat:"yy-mm-dd"});
}
</script>
<hr/>
<br/>
<h1>9) Data manipulation with various input types and datepicker for lastname</h1>
<%= jqgrid("Football Players", "players_with_datepicker", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo", :editable => true },
		{ :field => "firstname", :label => "Firstname", :editable => true, :edittype => "checkbox",
		  :editoptions => { :value => "Yes:No" } },
		{ :field => "lastname", :label => "Lastname", :editable => true },
		{ :field => "email", :label => "Email", :editable => true, :edittype => "textarea", :editoptions => { :rows => 3, :cols => 30 } },
		{ :field => "role", :label => "Role", :editable => true, :edittype => "select",
		  :editoptions => { :value => [["admin","admin"], ["player", "player"], ["defender","defender"]] } }
	],
	{ :add => true, :edit => true, :inline_edit => true, :delete => true, :edit_url => "/users/post_data", :inline_edit_handler => "pickDates" }
) %>
<br/>
<hr/>
<br/>
<h1>10) Subgrids</h1>
<%= jqgrid("Football Players", "players_9", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo" },
		{ :field => "firstname", :label => "Firstname" },
		{ :field => "lastname", :label => "Lastname" },
		{ :field => "email", :label => "Email" },
		{ :field => "role", :label => "Role" }
	],
	{ 
		:subgrid => { :url => "/users/pets",
					  :columns => [
						{ :field => "id", :label => "ID", :width => 35, :resizable => false, :editable => true },
						{ :field => "name", :label => "Name", :editable => true }
					  ]
					}
	}
) %>
<br/>
<hr/>
<br/>
<h1>11) Subgrids with CRUD operations</h1>
<%= jqgrid("Football Players", "players_10", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo" },
		{ :field => "firstname", :label => "Firstname" },
		{ :field => "lastname", :label => "Lastname" },
		{ :field => "email", :label => "Email" },
		{ :field => "role", :label => "Role" }
	],
	{ 
		:subgrid => { :url => "/users/pets", :edit_url => "/users/post_pets_data", :add => true, :inline_edit => true, :delete => true,
					  :columns => [
						{ :field => "id", :label => "ID", :width => 35, :resizable => false, :editable => true },
						{ :field => "name", :label => "Name", :editable => true }
					  ]
					}
	}
) %>
<br/>
<hr/>
<br/>
<script type="text/javascript">
 
	function handleSubSelection(id) {
		alert('ID selected : ' + id);
	}
 
</script>
<h1>12) Subgrids with selection</h1>
<%= jqgrid("Football Players", "players_11", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo" },
		{ :field => "firstname", :label => "Firstname" },
		{ :field => "lastname", :label => "Lastname" },
		{ :field => "email", :label => "Email" },
		{ :field => "role", :label => "Role" }
	],
	{ 
		:subgrid => { :url => "/users/pets", :direct_selection => true, :selection_handler => "handleSubSelection",
					  :columns => [
						{ :field => "id", :label => "ID", :width => 35, :resizable => false, :editable => true },
						{ :field => "name", :label => "Name", :editable => true }
					  ]
					}
	}
) %>
<br/>
<hr/>
<br/>
<h1>13) Form Improvements</h1>
<%= jqgrid("Football Players", "players_13", "/users",
	[
		{ :field => "id", :label => "ID", :width => 35, :resizable => false },
		{ :field => "pseudo", :label => "Pseudo", :editable => true, :formoptions => { :rowpos => 1, :elmprefix => "(*)&nbsp;&nbsp" }, :editoptions => { :size => 22 }, :editrules => { :required => true } },
		{ :field => "firstname", :label => "Firstname", :editable => true,  :formoptions => { :rowpos => 4, :label => "A label" }, :editoptions => { :size => 22 } },
		{ :field => "lastname", :label => "Lastname", :editable => true, :formoptions => { :rowpos => 5 }, :editoptions => { :size => 22 } },
		{ :field => "email", :label => "Email", :editable => true, :formoptions => { :rowpos => 3 }, :editoptions => { :size => 22 } },
		{ :field => "role", :label => "Role", :editable => true, :stype => "select", :edittype => "select", :formoptions => { :rowpos => 2 }, :editoptions => { :value => [["admin","admin"], ["player", "player"], ["defender","defender"]], :size => 22 } }
	],
	{ :add => true, :edit => true, :inline_edit => true, :delete => true, :edit_url => "/users/post_data" }
) %>